html{
    font-family: 'Barlow Condensed', sans-serif;
}

body{
    font-size: 20px;
    background: #222222;
    color: white;
    overflow-x: hidden;
    position: relative;
    /* max-height: 100%; */
    padding-bottom: 50px;
}

main{
    margin: 30px 30px;
    min-height: 100%;
}

p{
    margin: 20px 0px;
}
table{
    margin: 20px 0px;
}
td{
    padding: 0px 15px;
}

footer{
    font-size: 14px;
    text-align: center;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 10px;
    position: absolute;
    border-top: #6C6C6C;
    border-top-style: solid;
}

ul{
    list-style-type: circle;
}

.selectionbar {
    display: inline-block;
    text-decoration: none;
    color: white;
    list-style-type: none;
    padding: 0px;
    margin:0px;
}
.selectionbar li{
    float: left;
    padding: 0px 10px;
    text-decoration: none;
}
.selectionbar li:hover{
    float: left;
    padding: 0px 10px;
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}

#language{
    font-size:18px;
}

#navbar{
    font-size: 25px;
    padding: 0px 30px;
    background: #49474D;
    border-bottom-style: groove;
    border-top-style: groove;
}

#navbar>li {
    padding: 20px 40px;
}
#navbar>li:hover{
    background: #525057;
}

#content{
    vertical-align: top;
    display:inline-block;
    width:60%;
    /* padding: 0px 70px 0px 0px; */
    /* margin-bottom: 80px; */
    margin:  15px;
}

#booking{
    display:inline-block;
    width:auto;
    /* margin-bottom: 80px; */
    padding-left: 25px;
}
#booking div p{
    display: inline-block;
    vertical-align: middle;
}
#booking div textarea{
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
}

#booking td{
    padding: 5px 15px;
    vertical-align: middle;
}
#booking textarea{
    resize:none;
    width: 200px;
    height: 15px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
#booking input{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

#submit_booking{
    margin: 20px 0px;
    width:100%;
    background-color: #49474d;
    color: aliceblue;
    font-size: 26px;
    border-color: aliceblue;
    border-width: 1px;
}
#submit_booking:hover{
    background-color: #525057;
}

h2{
    text-decoration: underline;
}

h1{
    font-size: 36px;
    color: #B15B5B;
    font-style: italic;
    text-align: center;
    margin: 10px 0px;
}

#subtitle{
    font-size: 20px;
    font-style:italic;
    text-align:center;
    margin: 0px;
}